body {
    margin-top: 10%;
    background-color: 30%;
    background: black;
}

.wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    width:800px;
    height:10px;
    background:linear-gradient(rgba(255, 255, 255,0.1)0% rgb(0,0,0) 100%);
    
    box-sizing: border-box;
    padding: 32px; 
    display: flex;
    margin-inline-start: 10px;
    border-radius:20px ;
    padding-left: 500px;
    margin-left: 100px;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    
}

.button1, .button2, .button3, .button4 {
    padding: 10px 20px 10px ;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    box-shadow: white;
    text-align: center;
    border-right: 30px;
    text-wrap: 30%;
    
}

.button1 { 
    display: flex;
    background-color: #3c4346;
    color:white;
    opacity: 1;
    background-origin: padding-box;
    box-shadow:20px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 50px;
    position: relative;
    text-align: center;
    &:hover{
        background-color: #1db954;
     }
    }
 
.button2 { 
    display: flex;
    background-color: #3c4346; 
    color: white; 
    opacity: 1;
    background-origin: padding-box;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 20px;
    font-size: 1rem;
    text-align: center;
    
    &:hover{
        background-color: #1db954;
     }
}
.button3 { 
    display: flex;
    background-color:#3c4346;
     color: white; 
     opacity: 1;
     border-radius: 20px;
     font-size: 1rem;
     &:hover{
        background-color: #1db954;
     }
    
    }
.button4 {
     background-color: #3c4346; 
     color: white;
     border-radius: 20px;
     opacity: 1;
     font-size: 1rem;
     box-shadow: 20%;
     &:hover{
        background-color: #1db954;
     }
    }

.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box .icon {
    position: absolute;
    left: 10px;
    color: #888;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: white;
    cursor: pointer;
    
    opacity: 0.8;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.register-link {
    margin-top: 20px;
}
.wrapper-button1{
    width: 10px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    background: transparent;
}
 .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .spotify-logo{
    height: 50px;
  }
.fb{

    margin-left: 10px;
    padding-right: 10px;
}
.text{
    padding-top: 5px;
}